body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  margin: 5% auto 0 auto;
}

canvas {
  background-color: azure;
}

.scores {
  display: flex;
  justify-content: space-around;
  background-color: azure;
}
.scores i {
  font-size: 1.75rem;
  margin: 5% auto;
  color: blue;
}

ul {
}

ul p {
  font-size: 1.75rem;
  font-weight: bold;
}

ul li {
  list-style: none;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

ul li span {
  font-weight: bold;
}
